<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Display</title>
</head>
<body class="title">
    <h1 class="title">Results:</h1>
    <p>Name:<strong>@ViewBag.Name</strong></p>
    <p>Location: <strong>@ViewBag.Location</strong></p>
    <p>Language: <strong>@ViewBag.Language</strong></p>
    <p>Comment: <strong>@ViewBag.Comment</strong></p>
    <a href="/">Go Back</a>
</body>
</html>