<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intitial scale=1.0">
        <title>Piya View</title>
    </head>
    <body>
        <h1>First PiyaView! :)</h1>
    </body>
</html>