@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Let me count for you...</h1>
    <p>Name:</p>
    <form asp-action="Login" method="post">
        <input type="text" name="name"/>
        <input type="submit" value="Submit"/>
    </form>
</div>