<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piya- About Me Page</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/nav.css">
</head>
<body>
    <div class="navbar">
        <span> | </span> 
        <a href="/">Home</a>            @*Link to RootPage; labled "Home"*@
        <span> | </span>                @*spacer*@
        <a href="/projects">Projects</a>@*Link to Projects; labled "Projects"*@
        <span> | </span>                @*spacer*@
        <a href="/contact">Contact</a>  @*Link to ContactPage; labled "Contact"*@
        <span> | </span>                @*spacer*@
    </div>
    <div class="content">
        <h1 class="center">About Me</h1>
        <div class="container">
            <div class="left">
                <img class="size-compress-two-hundred" src="/images/pfp.jpg">
                <h4>Pier Stoddard</h4>
                <h4>I love RoR :)</h4>
            </div>
            <div class="right">description baby! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate necessitatibus nobis, odio a facere enim molestiae voluptatem cupiditate porro, tenetur ad soluta, maxime doloremque perspiciatis reiciendis. Autem obcaecati alias cupiditate?</div>
        </div>
    </div>
</body>
</html>