<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piya- Projects Page</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/nav.css">
    <link rel="stylesheet" href="~/css/projects.css">
    <script src="~/scripts/projects.js"></script>
</head>
<body>
    <div class="navbar">
        <span> | </span> 
        <a href="/">Home</a>            @*Link to RootPage; labled "Home"*@
        <span> | </span>                @*spacer*@
        <a href="/projects">Projects</a>@*Link to Projects; labled "Projects"*@
        <span> | </span>                @*spacer*@
        <a href="/contact">Contact</a>  @*Link to ContactPage; labled "Contact"*@
        <span> | </span>                @*spacer*@
    </div>
    <div class="content">
        <h1 class="center">My Projects</h1>
        <div class="projects">
            @* Project Instance *@
            <div class="project">
                <img class="project-img" src="~/images/minesweeper.jpg" alt="project one overview">
                <div>
                    <h3>Project 1</h3>
                    <p>
Minesweeper                    </p>
                </div>
            </div>
            @* Project Instance *@
            <div class="project">
                <img class="project-img" src="~/images/3D_Cadet.jpg" alt="project two overview">
                <div>
                    <h3>Project 2</h3>
                    <p>
3D Cadet                    </p>
                </div>
            </div>
            @* Project Instance *@
            <div class="project">
                <img class="project-img" src="~/images/spyfox.jpg" alt="project three overview">
                <div>
                    <h3>Project 3</h3>
                    <p>
SpyFox                    </p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>