@{
    ViewData["Title"] = "Ninja Form";
}
@model User
<div class="text-center">
    <h2>Piya Dojo Form</h2>
    <form asp-action="process" method="post">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name">
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Location"></label>
            <input asp-for="Location">
            <span asp-validation-for="Location"></span>
        </div>
        <div>
            <label asp-for="Language"></label>
            <input asp-for="Language">
            <span asp-validation-for="Language"></span>
        </div>
        <div>
            <label asp-for="Comment"></label>
            <input asp-for="Comment">
            <span asp-validation-for="Comment"></span>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
@* Missing our l;ogic within the controller *@