* {
    font-family: monospace;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #333; /* Background color of the navbar */
    color: white; /* Text color for links and separators */
    padding: 10px; /* Add some padding for better spacing */
    border-radius: 4px;
}

.navbar a {
    text-decoration: none; /* Remove underlines from links */
    color: navajowhite; /* Text color for links */
    margin: 0 10px; /* Add margin to separate links */
}

.navbar a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* update index h1 styling --------------------*/

h1 {
    font-size: 24px; /* Adjust the font size as needed */
    margin-top: 20px; /* Add space above the heading */
    text-align: center; /* Center the heading text */
}

.navbar span {
    box-shadow: 0 0 3px navajowhite; /* Sidewalk solar lights */
}

.content {
    text-align: center;
    margin: 20px; /* Add some margin for spacing */
}

.center {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between; /* Spread the children to left and right */
    align-items: center; /* Vertically center the children */
    margin-top: 20px; /* Add space between content and navigation */
}

/* Left content styles */
.left {
    flex: 1; /* Take up equal horizontal space */
    text-align: left;
}

/* Right content styles */
.right {
    flex: 1; /* Take up equal horizontal space */
/*background color 2.0*/
    background: linear-gradient(to bottom, rgb(255, 248, 237), transparent);
    border-radius: 3px;
    border-bottom: solid 2px #333;
}

/* Image jammed down to 100px */
.size-compress-two-hundred {
    border-radius: 4px;
    max-width: 200px; /* Compress to 100px */
    height: auto; /* AspectRatioKeeper */
}