@{
    ViewData["Title"] = "Piya's";
}
<h1 class="text-center">Hobby Hub!</h1>
<div class="text-center"
     style="outline: solid 1px orange;
            padding: 10px;
            min-height: 480px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            font-family: helvetica;
            background-image: url('/images/HappyCouple.jpg') linear-gradient(rgba(255, 255, 255, 0.4);
            background-position: center center;
            background-color: rgba(255, 255, 255, 0.5);

            ">
    <div>
        <div style="
                display:flex;
                ">
            <div>
                <h5>Login</h5>
                <div style="margin-right: 5 px;">
                @await Html.PartialAsync("_Login")
                </div>
            </div>
            <div>
                <h5>Register</h5>
                @await Html.PartialAsync("_RegisterUser")
            </div>
        </div>
    </div>
    </br>
    <h4 style="
    letter-spacing: 2px;
    color: orange;
    ">Hobbies Have Never Been more fun!</h4>
    <h5 style="
    letter-spacing: 1px;
    color: orange;
    ">Hobby Dashboard, Registry, Enthusiast Groups, and more!</h5>
</div>