<div>
    <a asp-action="Index" asp-controller="Chef">Chefs</a>
    <a asp-action="AddChef" asp-controller="Chef">Add a Chef</a>
    <a asp-action="AddDish" asp-controller="Dish">Add a Dish</a>
    <a asp-action="ViewDish" asp-controller="Dish">Dishes</a>
</div>