@model DojoSurvey.FormData

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Results</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <h1>Survey Results</h1>

    <p>Your Name: @Model.Name</p>
    <p>Dojo Location: @Model.DojoLocation</p>
    <p>Favorite Language: @Model.FavoriteLang</p>

    @{
        // Check if Comments is empty and display "No comment" if true
        string comments = Model.Comments ?? "No comment";
    }
    <p>Comments: @comments</p>

    <a href="/hello">Go Back</a>
</body>
</html>
