@model DojoSurvey.Models.DojoForm

<h1>Form</h1>
<form asp-action="Index" method="post">
    <div class="form-group">
        <label for="Name">Name</label>
        <textarea asp-for="Name" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="DojoLocation">DojoLocation</label>
        <input asp-for="DojoLocation" class="form-control" />
    </div>
    <div class="form-group">
        <label for="FavoriteLanguage">FavoriteLanguage</label>
        <textarea asp-for="FavoriteLanguage" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="Comment">Comment</label>
        <textarea asp-for="Comment" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>